<h1>Register</h1>

<form action="" method="POST" enctype="multipart/form-data">
  <input type="text" name="name" placeholder="Enter name" required />
  <br /><br />
  <input type="email" name="email" placeholder="Enter email" required />
  <br /><br />
  <input type="file" name="image" required />
  <br /><br />
  <input
    type="password"
    name="password"
    placeholder="Enter password"
    required
  />
  <br /><br />
  <input type="submit" value="Register" />
</form>

<% if (typeof message !== 'undefined') { %>
<p style="color: green"><%= message %></p>
<% } %>
